name: FastAPI-Lambda

on:
  push:
    branches:
      - main


# The Job defines a series of steps that execute on a same runner
jobs:

  CI:
    runs-on: ubuntu-latest
    steps:

      - name: Check out
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"

      - name: Create and activate venv
        run: python -m venv venv | 
             venv/source/bin/activate

      - name: Install dependencies
        run: pip install -r requirements.txt
